# ---------------------------
# Node / Frontend
# ---------------------------
node_modules/
frontend/dist/
frontend/package-lock.json
frontend/package.json.md5

# ---------------------------
# Build output
# ---------------------------
build/*
!build/appicon.png
*.exe
*.dll
*.so
*.dylib
*.app
bin/
.node-cache
frontend/.nous

# ---------------------------
# OrbitDB / Helia
# ---------------------------
orbitdb/
orbitdb-keystore/
orbitdb*/
orbitdb-keystore*/
helia-repo/
data/
!frontend/src/orbitdb
!frontend/server/src/orbitdb

# ---------------------------
# OS / IDE / Temp
# ---------------------------
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo
.vscode/
.idea/
*.bak
*.tsbuildinfo

# ---------------------------
# Go specific
# ---------------------------
*.test
*.out

# ---------------------------
# Misc
# ---------------------------
.env
.env.local